html,
body
{
    width: 100%;
    height: 100%;
}

body
{
    overflow: hidden;

    background: #222;
}

#header
{
    width: 100%;
    height: 90px;
}

#header .navbar
{
    margin: 0;

    transform: translateZ(0);

    background: #fff;
}

#header .navbar .navbar-brand
{
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    line-height: 50px;

    height: 90px;

    letter-spacing: 10px;

    border-left: 7px solid #ba2636;
}

#header .navbar .navbar-nav li a
{
    font-weight: 300;
    line-height: 60px;

    width: 120px;
    height: 90px;

    text-align: center;

    color: #777;
    border-left: 1px solid #ccc;
}

#header .navbar .navbar-nav li a.active
{
    color: #333;
    background: #fafafa;
}


#header .navbar .navbar-nav li a:hover
{
    color: #333;
    background: #fafafa;
}

#content
{
    position: relative;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#content .row
{
    position: absolute;
    top: 0;
    left: -100%;

    width: 100%;
    margin: 0;
    padding: 0;
}

#content .row:target
{
    z-index: 99999;
    top: 0;
    left: 0;

    display: -webkit-box;

    width: 100%;
    height: 100%;

    background: white;

    -webkit-box-align: center;
    -webkit-box-pack: center;
}

#content .row:target img
{
    max-width: 100%;
    max-height: 100%;
}

#content .row:last-child
{
    top: 0;
    left: 0;

    display: block;

    overflow: scroll;

    height: 100%;
    margin-top: -90px;
    padding-top: 90px;
}

#content .row:last-child:after
{
    margin-bottom: 50px;
}

#content .row:target ~ .row:last-child
{
    top: 0;
    left: -100%;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12
{
    margin: 0;
    padding: 0;
}

.thumbnail
{
    margin: 0;
    padding: 0;

    border: none;
    background: rgba(0, 0, 0, 0);
}

.thumbnail img
{
    -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
}

.thumbnail img[data-echo]
{
    opacity: 0;
}

.thumbnail img:not([data-echo])
{
    opacity: 1;
}

#footer
{
    position: fixed;
    bottom: 0;

    width: 100%;
    height: 50px;

    transform: translateZ(0);

    border-right: 10px solid #ba2636;
    background: #fff;
}

.sorcial-icons
{
    line-height: 50px;
}

.copy-right
{
    line-height: 50px;
}
