.tmp/
dist/
build/
node_modules/
.DS_Store
npm-debug.log
*.lock
index.html
original.html
scrap.html

# React Router
.react-router/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

*storybook.log
storybook-static

.qodo
.idea
