@charset "utf-8";

body {
  background-color:white;
  font-size:small;
  white-space:nowrap
}
div {
  position:relative
}
ul {
  margin:0px 0px 0px 15px;
  padding:0px;
  list-style:none
}
h2 {
  font-weight: bold; font-size:medium;
  margin: 0px;
}
span {
  display: inline-block;
}
p {
  margin: 0px;
}
img {
  border: 0px;
}
a:link {
  color:black
}
a:visited {
  color:black
}
a:hover {
  color:red
}
div#main {
  width:800px
}
div#head {
}
div#left {
  float:left;
  width:175px
}
div#right {
  float:right;
  width:625px
}
div#bottom {
  clear:both;
  background-color: black;
  color:white;
  padding:4px
}
div#bottom IMG {
  display:inline-block;
  vertical-align:middle;
  margin-right:4px
}
div#bottom P {
  vertical-align:middle
}
div#foot {
  margin-top:5px;
  text-align:center
}
div#foot span {
  display: block;
}