/* Write your global styles here, in PostCSS syntax */
@import "@fortawesome/fontawesome-free/css/all.css";
@import "http://fonts.googleapis.com/css?family=Raleway:100";
@tailwind base;
@tailwind components;
@tailwind utilities;

div.swiper-button-next, div.swiper-button-prev {
    opacity: 0 !important;
    position: absolute;
    top: 0;
    height: 100% !important;
    width: 10% !important;
}
div.swiper-button-next {
    right: 0 !important;
}
div.swiper-button-prev {
    left: 0 !important;
}

.swiper-button-disabled {
    opacity: 0 !important;
}