name: CI

on:
  push:

permissions:
  contents: read

jobs:
  quality:
    name: Quality Check
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: npm
      - run: npm ci
      - run: npm run build -ws --if-present
      - run: npm run typecheck
      - run: npm run lint
      - run: npm run format:check
      - run: npm run test

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: quality
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: npm
      - run: npm ci
      - name: Cache face detection model
        uses: actions/cache@v5
        with:
          path: node_modules/.vite/vite-plugin-face-crop/models
          key: face-model-${{ runner.os }}
      - run: npm run build -ws --if-present
      - run: npm run build
